@using Newtonsoft.Json
@model IEnumerable<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TreeView</title>
    <link href="~/lib/tree-data/css/treedata.min.css" rel="stylesheet" />
    <link href="~/lib/tree-data/css/sintax.css" rel="stylesheet" />
    <style>
        .tree > li:nth-child(1) > a:nth-child(1) {
            display: none;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="tree"></div>
        <input type="number" value="100" id="zoom-value" style="position:fixed; right:5px; padding:2px; top:5px; width: 50px;" />
    </div>
    <div style="margin:30px 0;"></div>
    <script src="~/lib/tree-data/js/treedata.js"></script>
    <script>
        var tree = @Html.Raw(JsonConvert.SerializeObject(Model.BuildTree()));
        TreeData(tree, "#tree");
    </script>
</body>
</html>
