html {
    font-size: 14px;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-group {
    margin-top: 20px;
}

[type=color] {
    width: 30px;
    height: 30px;
    padding: 2px;
}

[v-cloak] {
    display: none;
}

.m-treeName {
    background: linear-gradient(#d8d6d6, #eaeaea, #d8d6d6);
    width:70%;
    margin: 0 auto !important;
    font-weight:bold;
    text-align:center;
    padding:3px 0 5px
}
